    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5.0'>
    <meta name="twitter:card" content="summary_large_image" />

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
    <meta name="og:title" content="{{ site.name }}" />
    <meta name="twitter:title" content="{{ site.name }}" />
    {% endif %}
    <meta name="twitter:image" content="https://repository-images.githubusercontent.com/195402283/b10f4280-dad4-11e9-8a10-b29d95157739" />
    
